[project]
	description = Illustrate for http://www.trapexit.org/Building_a_Non-blocking_TCP_server_using_OTP_principles
[access "refs/*"]
	owner = group user/Oleg Golosovskiy (ogolosovskiy)
[access "refs/for/refs/*"]
	read = group user/Oleg Golosovskiy (ogolosovskiy)
	push = group user/Oleg Golosovskiy (ogolosovskiy)
	label-Code-Review = -2..+2 group user/Oleg Golosovskiy (ogolosovskiy)
	label-Verified = -1..+1 group user/Oleg Golosovskiy (ogolosovskiy)
	rebase = group user/Oleg Golosovskiy (ogolosovskiy)
	removeReviewer = group user/Oleg Golosovskiy (ogolosovskiy)
	submit = group user/Oleg Golosovskiy (ogolosovskiy)
[access "refs/heads/*"]
	read = group user/Oleg Golosovskiy (ogolosovskiy)
	create = group user/Oleg Golosovskiy (ogolosovskiy)
	push = +force group user/Oleg Golosovskiy (ogolosovskiy)
	pushMerge = group user/Oleg Golosovskiy (ogolosovskiy)
[access "refs/tags/*"]
	push = +force group user/Oleg Golosovskiy (ogolosovskiy)
	pushTag = group user/Oleg Golosovskiy (ogolosovskiy)
	pushSignedTag = group user/Oleg Golosovskiy (ogolosovskiy)
